@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-wrapper {
    @apply w-full max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
